// Color Palette
$primary-color: #301BAD;
$secondary-color: #61B38E;
$neutral-black: #000;
$neutral-white: #FFF;
$neutral-gray: #666;

// Font and Spacing Variables
$font-size-base: 16px;
$font-family-primary: 'Arial', sans-serif;
